@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
}

a:hover {
  color: hsl(0, 0%, 80%);
}

ul {
  list-style: none;
}

#presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(209, 192, 40);
  background: linear-gradient(90deg, rgb(209, 192, 40) 0%, rgb(242, 235, 174) 15%, rgb(255, 255, 255) 50%, rgb(242, 235, 174) 85%, rgb(209, 192, 40) 100%);
}
#presentation-container #presentation-logo {
  width: 8em;
  margin-top: 2em;
}
#presentation-container h1 {
  font-size: 4rem;
  color: #000;
}
#presentation-container h2 {
  font-size: 2rem;
  color: #181818;
}
#presentation-container p {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: #181818;
  margin-top: 1em;
}
#presentation-container hr {
  height: 0.1em;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  width: 50%;
  margin-top: 1em;
}
#presentation-container #cta-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 70%;
}
#presentation-container #cta-container h3 {
  font-size: 2rem;
}
#presentation-container #cta-container p {
  font-size: 4.5rem;
  color: rgb(230, 192, 27);
  margin-top: -0.2em;
  font-weight: bold;
}
#presentation-container #cta-container #cta-button {
  cursor: pointer;
  background-color: rgb(230, 192, 27);
  padding: 1.5em 3em;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}
#presentation-container #cta-container small {
  margin-top: -0.5rem;
  color: #181818;
  margin-bottom: 4em;
  font-size: 1rem;
}
#presentation-container #cta-container i {
  font-size: 1.2rem;
  margin-bottom: 4em;
  color: #181818;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
}
#nav-container #checkout-nav-logo {
  width: 1em;
  margin: 2em 0;
}
#nav-container #email-contact h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: hsl(0, 100%, 100%);
}
#nav-container #email-contact h3 span {
  font-weight: bold;
  color: rgb(230, 192, 27);
}
#nav-container #email-contact p {
  font-weight: bold;
  text-align: right;
  font-size: 1rem;
  color: hsl(0, 100%, 100%);
}

#checkout-container {
  padding: 4em;
  background: url("../img/banner.png") no-repeat;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
#checkout-container #checkout-content {
  border-radius: 3px;
  display: block;
  margin: auto;
  width: 60%;
  margin-top: 4em;
  background-color: #181818;
  padding: 1em;
}
#checkout-container #checkout-content h3 {
  font-size: 1.4rem;
  margin: 1em 0;
  color: hsl(0, 100%, 100%);
}
#checkout-container #checkout-content form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#checkout-container #checkout-content form label {
  font-size: 1.1rem;
  margin: 0.5em 0;
  color: hsl(0, 100%, 100%);
}
#checkout-container #checkout-content form input {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}
#checkout-container #checkout-content #payment-buttons {
  display: flex;
  gap: 1em;
}

#hero-section {
  background-image: url(/img/banner-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 13em);
}
#hero-section #two-columns {
  display: flex;
}
#hero-section #two-columns #leftSide-network-icons {
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  gap: 1em;
}
#hero-section #two-columns #leftSide-network-icons a {
  color: #333333;
}
#hero-section #two-columns #leftSide-network-icons a:hover {
  color: #6b6b6b;
}
@media (max-width: 768px) {
  #hero-section #two-columns #leftSide-network-icons {
    padding-left: 1em;
    justify-content: start;
  }
  #hero-section #two-columns #leftSide-network-icons a .fa-2x {
    font-size: 1.5em;
  }
}
@media (max-width: 412px) {
  #hero-section #two-columns #leftSide-network-icons {
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0.5em;
  }
}
#hero-section #two-columns #hero-text-content {
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2em;
}
#hero-section #two-columns #hero-text-content h3 {
  font-size: 1.575rem;
  font-weight: 700;
  color: #333333;
}
#hero-section #two-columns #hero-text-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  line-height: 1.1em;
}
#hero-section #two-columns #hero-text-content p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.1rem;
  margin-top: 1em;
  color: #6b6b6b;
}
@media (max-width: 1068px) {
  #hero-section #two-columns #hero-text-content h3 {
    font-size: 1.25rem;
  }
  #hero-section #two-columns #hero-text-content h1 {
    font-size: 2.8rem;
  }
  #hero-section #two-columns #hero-text-content p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 768px) {
  #hero-section #two-columns #hero-text-content h3 {
    font-size: 1.05rem;
  }
  #hero-section #two-columns #hero-text-content h1 {
    font-size: 2rem;
  }
}
@keyframes movement {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(0%);
  }
}
#hero-section #two-columns #hero-text-content #arrow {
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  animation-name: movement;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media (max-width: 768px) {
  #hero-section #two-columns #hero-text-content #arrow {
    width: 1em;
  }
}
@media (max-width: 412px) {
  #hero-section #two-columns #hero-text-content {
    width: 100%;
    padding: 0 2em;
  }
  #hero-section #two-columns h3 {
    text-align: center;
  }
  #hero-section #two-columns h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  #hero-section #two-columns p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #hero-section {
    -o-object-fit: cover;
       object-fit: cover;
    grid-template-rows: repeat(2, 9em);
    height: 41vh;
  }
}
@media (max-width: 412px) {
  #hero-section {
    background-image: none;
    height: 50vh;
  }
  #hero-section #two-columns {
    margin-top: 0.2em;
    align-items: center;
    flex-direction: column;
    padding: 0 0.5em;
    width: 95%;
  }
}
@media (max-width: 360px) {
  #hero-section {
    height: 60vh;
  }
  #hero-section nav #nav a #logo {
    width: 4rem;
  }
  #hero-section nav #nav .toggle {
    margin-right: 1em;
  }
}
nav {
  padding: 0 6em;
}

@media (max-width: 412px) {
  nav {
    padding: 0 4em;
  }
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  height: 5.625em;
  width: 100%;
}
#nav #logo {
  width: 6.188rem;
  height: 6.188rem;
}
@media (max-width: 768px) {
  #nav #logo {
    margin-left: -3em;
  }
}
#nav .toggle {
  background-image: url(../img/icons/bars-solid.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  color: #f9f9f9;
  width: 40px;
  height: 40px;
  display: block;
  top: 2;
  right: 0;
  margin-right: 4em;
  visibility: hidden;
}
#nav .toggle.active {
  cursor: pointer;
  background: url(../img/icons/times-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
#nav .side-menu {
  visibility: hidden;
  width: 0;
  transition: width 1s ease-in-out;
}
#nav .side-menu li a {
  color: #181818;
}
#nav .side-menu.active {
  position: fixed;
  visibility: visible;
  right: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  background-color: hsl(0, 100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media (max-width: 1068px) {
  #nav .toggle {
    visibility: visible;
    position: fixed;
  }
}
#nav ul {
  display: flex;
}
#nav ul #dark-nav {
  color: #181818;
}
#nav ul li {
  margin-right: 2.4em;
  font-size: 1.1rem;
}
@media (max-width: 1068px) {
  #nav ul {
    visibility: hidden;
  }
}
@media (max-width: 412px) {
  #nav .side-menu.active {
    width: 50%;
  }
  #nav ul {
    width: 6em;
  }
}

#about-section {
  background-color: #f9f9f9;
  height: 20em;
  padding: 15em 6em;
  display: flex;
  justify-content: space-around;
}
#about-section #about-content {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-section #about-content h2 {
  font-size: 3rem;
  color: #181818;
}
#about-section #about-content h2::before {
  width: 2px;
  background-color: #6b6b6b;
  height: 2px;
}
#about-section #about-content p {
  font-size: 1.2rem;
  color: #6b6b6b;
  line-height: 2.1rem;
  margin: 0.3em 0;
}
@media (max-width: 1068px) {
  #about-section #about-content h2 {
    font-size: 2.5rem;
  }
  #about-section #about-content p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  #about-section #about-content h2 {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  #about-section #about-content h2 {
    font-size: 2.2rem;
    text-align: center;
  }
  #about-section #about-content p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.9rem;
  }
}
#about-section #img-container img {
  width: 20em;
  border-radius: 5px;
}
@media (max-width: 412px) {
  #about-section #img-container img {
    width: 15em;
  }
}

@media (max-width: 768px) {
  #about-section {
    padding: 15em 2em;
  }
  #about-section #about-content {
    justify-content: start;
  }
}
@media (max-width: 412px) {
  #about-section {
    flex-direction: column;
    padding: 15em 2em;
  }
  #about-section #about-content {
    width: 100%;
    text-align: center;
  }
  #about-section #img-container img {
    display: block;
    margin: auto;
  }
}
#drawings-section {
  padding: 15em 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#drawings-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #181818;
  text-align: center;
  margin-bottom: 2em;
}
#drawings-section #drawings-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}
#drawings-section #drawings-container #drawing-columns {
  display: flex;
  flex-direction: column;
}
#drawings-section #drawings-container #drawing-columns .drawing-row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
#drawings-section #drawings-container #drawing-columns .drawing-row a {
  width: 100%;
}
#drawings-section #drawings-container #drawing-columns .drawing-row a img {
  width: 12em;
  height: 9.5em;
  -o-object-fit: cover;
     object-fit: cover;
}
#drawings-section #drawings-container #horizontal-img img {
  margin-top: -1em;
  width: 14.5em;
  -o-object-fit: contain;
     object-fit: contain;
}
#drawings-section div {
  margin: auto;
}
#drawings-section div .btn {
  background-color: #181818;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1em 2em;
  margin-top: 8em;
}
@media (max-width: 412px) {
  #drawings-section #drawings-container {
    flex-direction: column;
    align-items: center;
  }
  #drawings-section #drawings-container .drawing-row {
    flex-direction: column;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  #drawings-section {
    padding: 8em 6em;
  }
  #drawings-section h2 {
    font-size: 2rem;
  }
  #drawings-section #drawings-container {
    display: grid;
  }
  #drawings-section div .btn {
    font-size: 1rem;
  }
}
@media (max-width: 412px) {
  #drawings-section {
    padding: 4em 2em;
  }
  #drawings-section h2 {
    font-size: 2.2rem;
  }
}
#testimonial-section {
  padding: 6em 0;
  background-color: #f9f9f9;
}
#testimonial-section h2 {
  font-size: 3rem;
  margin-bottom: 2em;
  text-align: center;
}
#testimonial-section #testimonial-container #profile-photo {
  margin: auto;
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-bottom: 1em;
}
#testimonial-section #testimonial-container #quote {
  font-size: 1.575rem;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 40%;
  margin: auto;
}
#testimonial-section #testimonial-container h4 {
  font-weight: 300;
  color: #6b6b6b;
  font-size: 1.2rem;
  text-align: center;
  margin: 1em 0;
}
#testimonial-section #testimonial-container #lines img {
  display: block;
  margin: auto;
  width: 75%;
}
#testimonial-section #testimonial-container #two-columns {
  display: flex;
  justify-content: space-around;
}
#testimonial-section #testimonial-container #two-columns #testimonial-video video {
  width: 13em;
  margin-left: 2.5em;
  border-radius: 5px;
}
#testimonial-section #testimonial-container #two-columns #work-demo img {
  width: 13em;
  margin-right: 3.5em;
  border-radius: 5px;
}
#testimonial-section #testimonial-container #two-columns #two-columns {
  justify-content: center;
}

@media (max-width: 768px) {
  #testimonial-section #testimonial-container #quote {
    width: 50%;
  }
}
@media (max-width: 412px) {
  #testimonial-section {
    padding: 4em 0;
  }
  #testimonial-section h2 {
    font-size: 2.2rem;
  }
  #testimonial-section #testimonial-container h4 {
    font-size: 0.9rem;
  }
  #testimonial-section #testimonial-container #quote {
    font-size: 1rem;
    width: 60%;
    font-weight: 300;
  }
  #testimonial-section #testimonial-container #lines {
    visibility: hidden;
  }
  #testimonial-section #testimonial-container #two-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  #testimonial-section #testimonial-container #two-columns #testimonial-video video {
    margin: auto;
  }
  #testimonial-section #testimonial-container #two-columns #work-demo img {
    margin: auto;
  }
}
#promotion-section #two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#promotion-section #first-section {
  padding: 7em 7em;
  height: 100%;
}
#promotion-section #first-section #sending-to {
  display: flex;
  gap: 1.5em;
  align-items: center;
  margin-bottom: 2.5em;
}
#promotion-section #first-section #sending-to div {
  width: 5em;
  text-align: center;
}
#promotion-section #first-section #sending-to div h4 {
  margin-top: 5px;
  font-weight: 600;
}
#promotion-section #first-section #sending-to p {
  font-weight: 300;
  font-size: 1.2rem;
}
#promotion-section #first-section #credit-cards {
  display: flex;
  gap: 1.5em;
  align-items: center;
  margin-bottom: 2.5em;
  width: 27em;
}
#promotion-section #first-section #credit-cards div {
  width: 5em;
  text-align: center;
}
#promotion-section #first-section #credit-cards div h4 {
  margin-top: 5px;
  font-weight: 600;
}
#promotion-section #first-section #credit-cards p {
  font-weight: 300;
  font-size: 1.2rem;
}
#promotion-section #first-section #secure {
  display: flex;
  gap: 1.8em;
  align-items: center;
}
#promotion-section #first-section #secure div {
  width: 5em;
  text-align: center;
}
#promotion-section #first-section #secure div h4 {
  margin-top: 5px;
  font-weight: 600;
}
#promotion-section #first-section #secure p {
  font-weight: 300;
  font-size: 1.2rem;
}
#promotion-section #second-section {
  background-color: #000;
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#promotion-section #second-section h2 {
  color: hsl(0, 100%, 100%);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
}
#promotion-section #second-section #contact-btn {
  padding: 1em 2em;
  background-color: hsl(0, 100%, 100%);
  width: 5em;
  color: #181818;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 1068px) {
  #promotion-section #two-columns #second-section h2 {
    font-size: 2rem;
  }
  #promotion-section #two-columns #second-section #contact-btn {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  #promotion-section #two-columns {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
  }
  #promotion-section #two-columns #first-section {
    padding: 4em 7em;
  }
  #promotion-section #two-columns #first-section #sending-to {
    flex-direction: column;
    gap: 0.6em;
  }
  #promotion-section #two-columns #first-section #sending-to p {
    font-size: 1rem;
  }
  #promotion-section #two-columns #first-section #credit-cards {
    flex-direction: column;
    width: 100%;
    gap: 0.6em;
  }
  #promotion-section #two-columns #first-section #credit-cards p {
    font-size: 1rem;
    width: 60%;
    text-align: center;
  }
  #promotion-section #two-columns #first-section #secure {
    flex-direction: column;
    gap: 0.6em;
  }
  #promotion-section #two-columns #first-section #secure p {
    font-size: 1rem;
  }
  #promotion-section #two-columns #second-section h2 {
    font-size: 2rem;
  }
  #promotion-section #two-columns #second-section #contact-btn {
    font-size: 1rem;
  }
}
@media (max-width: 412px) {
  #promotion-section #two-columns {
    display: flex;
    flex-direction: column;
  }
  #promotion-section #two-columns #first-section {
    padding: 4em 2em;
  }
  #promotion-section #two-columns #first-section #sending-to {
    flex-direction: column;
    gap: 0.6em;
  }
  #promotion-section #two-columns #first-section #sending-to p {
    font-size: 1rem;
  }
  #promotion-section #two-columns #first-section #credit-cards {
    flex-direction: column;
    width: 100%;
    gap: 0.6em;
  }
  #promotion-section #two-columns #first-section #credit-cards p {
    font-size: 1rem;
    width: 60%;
    text-align: center;
  }
  #promotion-section #two-columns #first-section #secure {
    flex-direction: column;
    gap: 0.6em;
  }
  #promotion-section #two-columns #first-section #secure p {
    font-size: 1rem;
  }
  #promotion-section #two-columns #second-section {
    padding: 5em 2em;
  }
  #promotion-section #two-columns #second-section h2 {
    font-size: 2.2rem;
  }
  #promotion-section #two-columns #second-section #contact-btn {
    font-size: 1.2rem;
  }
}
#container-about {
  background-image: url("../img/icons/pattern.svg");
  background-size: 100%;
}
#container-about div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-about div h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #181818;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
}
#container-about div img {
  width: 20em;
  border-radius: 50%;
  margin-bottom: 2em;
}
#container-about div div {
  margin-bottom: 2em;
}
#container-about div div p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.1rem;
  color: #6b6b6b;
  text-align: center;
  width: 60%;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  #container-about div h2 {
    margin-top: 2em;
    font-size: 2rem;
  }
  #container-about div div p {
    font-size: 1rem;
    width: 80%;
  }
}
@media (max-width: 412px) {
  #container-about div h2 {
    font-size: 2rem;
  }
  #container-about div div p {
    width: 80%;
    margin-bottom: 0.5em;
  }
  #container-about div h2 {
    margin-top: 2em;
    padding: 0 1em;
  }
}
#gallery-portraits {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 14em);
  justify-content: center;
}
#gallery-portraits a img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

#contact-prom {
  padding: 2em 2em;
}
#contact-prom h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
}
#contact-prom #contact-btn {
  padding: 1em 1em;
  background-color: #181818;
  width: 10%;
  color: hsl(0, 100%, 100%);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  #gallery-portraits {
    grid-template-columns: repeat(3, 12em);
  }
  #contact-prom h2 {
    font-size: 2rem;
  }
  #contact-prom #contact-btn {
    width: 20%;
    font-size: 1rem;
  }
}
@media (max-width: 412px) {
  #gallery-portraits {
    grid-template-columns: repeat(1, 12em);
  }
  #contact-prom {
    padding: 2em 2em;
  }
  #contact-prom h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
  }
  #contact-prom #contact-btn {
    padding: 0.5em 0.5em;
    background-color: #181818;
    width: 40%;
    color: hsl(0, 100%, 100%);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin: auto;
  }
}
#contact {
  margin: 6em 0;
  background-image: url("../img/icons/pattern.svg");
  background-size: 100%;
}
#contact h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #181818;
  text-align: center;
  margin: 2em 0 2em 0;
}
#contact #contact-container {
  background-color: #181818;
  width: 30em;
  margin: auto;
  border-radius: 5px;
}
#contact #contact-container form {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}
#contact #contact-container form label {
  font-weight: 600;
  color: #f9f9f9;
}
#contact #contact-container form input {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}
#contact #contact-container form textarea {
  border: none;
  padding: 0.5em;
}
#contact #contact-container form button {
  border: none;
  font-weight: bold;
  color: #181818;
  padding: 0.5em;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #contact h2 {
    font-size: 2rem;
  }
}
@media (max-width: 412px) {
  #contact #contact-container {
    width: 100%;
  }
}
#footer-section {
  padding: 6em 6em;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-section #about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
#footer-section #about-me img {
  width: 5em;
}
#footer-section #about-me p {
  color: #f9f9f9;
}
#footer-section #payment-methods {
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
}
#footer-section #payment-methods h4 {
  margin-bottom: 5px;
  text-align: center;
}
#footer-section #payment-methods div {
  display: flex;
  gap: 10px;
}
#footer-section #social-networks-icon {
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
}
#footer-section h4 {
  margin-bottom: 5px;
  text-align: center;
}
#footer-section div {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  #footer-section {
    flex-direction: column;
    gap: 2em;
  }
}
@media (max-width: 412px) {
  #footer-section {
    padding: 4em 2em;
    gap: 1em;
  }
  #footer-section p {
    text-align: center;
    margin-bottom: 1em;
  }
  #footer-section #social-networkw-icon {
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */